{% extends 'base.html.twig' %}

{% block title %}Qui nous sommes ?{% endblock %}

{% block body %}
<twig:Header routePath="/qui-sommes-nous" />
<div class="d-flex justify-content-center" >
    <div  class="col-10" style="width:85%">
        <section >
            <div  class="page-header" style="background-image:url('/images/about.png');">
                <img src="/images/Page header about.png" style="width:100%;" />
            </div>
        </section>
        <section style="margin-top:40px;">
            <div style="text-align:center;">
                <h2 class="organization-title">L'organisation</h2>
            </div>
            <div class="organization-content">
                <img src="/images/Qui sommes nous.png" alt="Organization background" class="organization-background" />
                <div class="organization-description">
                    <p>
                        Créée à Brossard en 2000 sous le nom de Réseau Internet de Brossard (RIB), FORMATIO est une entreprise d'économie sociale vouée à la formation dans le domaine numérique. FORMATIO a grandi rapidement en tissant des liens étroits avec les associations, groupes communautaires et organismes du milieu avec qui nous partageons la réussite.
                    </p>
                    <p>
                        Par leur enseignement, plus de 30 formateurs compétents et dévoués assurent un transfert de connaissances en groupes ou individuellement et sur mesure à des clients souhaitant découvrir ou se perfectionner en bureautique et informatique. Sur demande, nous effectuons des formations sur les lieux de travail, en résidences pour aînés, bibliothèques ou autres endroits appropriés.
                    </p>
                    <p>
                        FORMATIO contribue à l'insertion sociale, à l'employabilité, à briser l'isolement et à la découverte de nouveaux horizons. Nos formations sont accessibles à tous et nous tenons compte des parcours de chacun. La clientèle peut compter sur notre matériel informatique, les logiciels, les équipements appropriés. Nous développons nous-mêmes la plupart de nos outils pédagogiques.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="board-of-directors">
                <h2 class="board-title">Le conseil d'administration</h2>
                <div class="board-cards">
                    <div class="profile-card">
                        <img src="/images/Alain_Lewis-250x312.png" alt="Profile picture of Alain Lewis" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Alain Lewis</h2>
                            <p class="profile-title">PRÉSIDENT</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/Josée_Bergevin-250x312.png" alt="Profile picture of Josée Bergevin" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Josée Bergevin</h2>
                            <p class="profile-title">SECRÉTAIRE</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/Joyce_Zi_Lang-250x312.png" alt="Profile picture of Joyce Zi Liang" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Joyce Zi Liang</h2>
                            <p class="profile-title">TRÉSORIÈRE</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/Michel_Mainville-250x312.png" alt="Profile picture of Michel Mainville" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Michel Mainville</h2>
                            <p class="profile-title">ADMINISTRATEUR</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/Ali-Khan_Sanchis-250x312.png" alt="Profile picture of Ali-Khan Sanchis" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Ali-Khan Sanchis</h2>
                            <p class="profile-title">ADMINISTRATEUR</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/Germain_Belanger-250x312.png" alt="Profile picture of Germain Bélanger" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Germain Bélanger</h2>
                            <p class="profile-title">ADMINISTRATEUR</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/Daniel_Houle-250x312.png" alt="Profile picture of Daniel Houle" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Daniel Houle</h2>
                            <p class="profile-title">ADMINISTRATEUR</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/Anne-Solène_Rioult-250x312.png" alt="Profile picture of Anne-Solène Rioult" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">Anne-Solène Rioult</h2>
                            <p class="profile-title">ADMINISTRATRICE</p>
                        </div>
                    </div>
                    <div class="profile-card">
                        <img src="/images/René_Lanteigne-250x312.png" alt="Profile picture of René Lanteigne" class="profile-image" />
                        <div class="profile-info">
                            <h2 class="profile-name">René Lanteigne</h2>
                            <p class="profile-title">ADMINISTRATEUR</p>
                        </div>
                    </div>
               </div>
            </div>
        </section>
        <twig:Equipe />
        <twig:Partenaires />
    </div>
</div>
<twig:Footer />
<script>
    jQuery(document).ready(function($) {
        // build carousels
        $('.owl-one').owlCarousel({
            // autoHeight: true,
            nav: false,
            dots: false,
            items: 1,
            loop: true,
            rewind: false,
            margin: 10,
            smartSpeed: 750,
            center: true,
            checkVisible: false,
            responsive: {
                0: { items: 1 },
                400: { items: 1 },
                740: { items: 1 },
                940: { items: 1 }}
        });
        $('.owl-two').owlCarousel({
            autoHeight: true,
            slideTransition: 'linear',
            autoplayTimeout: 3000,
            autoplaySpeed: 3000,
            autoplayHoverPause: true,
            autoplay: true,
            nav: false,
            dots: false,
            items: 3,
            loop: true,
            rewind: false,
            margin: 10,
            smartSpeed: 750,
            center: false,
            checkVisible: true,
            responsive: {
                0: { items: 1 },
                400: { items: 2 },
                740: { items: 3 },
                940: { items: 3 }}
        });
    });
</script>
<script>
    const passwordShowIcon = document.querySelector('.eye-icon');
    const input = document.querySelector('.password-box input');
    const test = document.querySelector('#test-rene');
    var password = true;

    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
</script>
{% endblock %}
