<section>
  <div class="about-us__section">
    <div class="about-us__content" >
      <div class="about-us__info">
        <h2 class="about-us__title">QUI SOMMES NOUS ?</h2>
        <p class="about-us__description">
          Créée à Brossard en 2000 sous le nom de Réseau Internet de Brossard (RIB), FORMATIO est une entreprise d'économie sociale vouée à la formation dans le domaine numérique.
          <br /><br />
          FORMATIO a grandi rapidement en tissant des liens étroits avec les associations, groupes communautaires et organismes du milieu avec qui nous partageons la réussite.
        </p>
        <div class="about-us__cta text-center"><a href="/" ><button class="about-us__cta-button">EN SAVOIR PLUS</button></a>
        </div>
      </div>
      <div class="about-us__stats">
        <div class="about-us__stat">
          <h3 class="about-us__stat-title">BÉNÉVOLES</h3>
          <p class="about-us__stat-value">{{benevols}}</p>
          <br/>
        </div>
        <div class="about-us__stat">
          <h3 class="about-us__stat-title">MEMBRES</h3>
          <p class="about-us__stat-value">{{membres}}</p>
          <br/>
        </div>
        <div class="about-us__stat">
          <h3 class="about-us__stat-title">FORMATIONS<br />DONNÉES</h3>
          <p class="about-us__stat-value">{{formations}}</p>
          <br/>
        </div>
      </div>
    </div>
  </div>
</section>
