<div class="news-container">
  <h2 class="news-title">Acutalités</h2>
  <div class="news-grid">
    <div class="news-grid-row">
      <article class="news-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/19369417ee3473a072c8c3ecf23e9ec8d3720972a56be7482bff8a5456a91e3d?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Assemblée générale de FORMATIO" class="news-card-image" />
        <div class="news-card-content">
          <h3 class="news-card-title">Assemblée générale de FORMATIO</h3>
          <p class="news-card-date">10 février 2024</p>
          <hr/>
          <p class="news-card-description">
            FORMATIO vous invite à son assemblée générale annuelle le mercredi 20 mars 2024 en visioconférence (ZOOM). Pour ...
          </p>
        </div>
      </article>
      <article class="news-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a389246bc7d2ac47aa3d2697db7f5d5373e7ec8665a9163a42a7a0e36dc73e7d?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Vidéo promotionnelle de FORMATIO" class="news-card-image" />
        <div class="news-card-content">
          <h3 class="news-card-title">Vidéo promotionnelle de FORMATIO</h3>
          <p class="news-card-date">7 février 2024</p>
          <hr/>
          <p class="news-card-description">
            Voici notre nouvelle vidéo promotionnelle 2024
          </p>
        </div>
      </article>
      <article class="news-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/76a4b581c06f1ef5382893bfc440e935493bf76864a7d91d9bc33bd4ecb56aeb?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Club informatique" class="news-card-image" />
        <div class="news-card-content">
          <h3 class="news-card-title">Club informatique</h3>
          <p class="news-card-date">11 janvier 2024</p>
          <hr/>
          <p class="news-card-description">
            Prenez note que la première réunion du Club informatique de FORMATIO se tiendra le jeudi le 18 janvier 2024 à 14h. Vous ...
          </p>
        </div>
      </article>
      <article class="news-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bf0518c54d22b2ca7b0d63bef6fb8d9ed6b4a5a2025b9de9340c33adda6456cf?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Programmation pour hiver 2024" class="news-card-image" />
        <div class="news-card-content">
          <h3 class="news-card-title">Programmation pour hiver 2024</h3>
          <p class="news-card-date">11 janvier 2024</p>
          <hr/>
          <p class="news-card-description">
            Le secrétariat a publié la programmation des cours pour la session hiver 2024. Pour voir les cours disponibles, rendez-vous ...
          </p>
        </div>
      </article>
    </div>
  </div>
  <button class="primary-button">CONSULTER LES ARCHIVES</button>
</div>
