  <div class="benefits-container" style="margin: 50px 0px;padding: 50px 0px;">
    <h2 class="benefits-title">Bénéfices d'être membre</h2>
    <div class="benefits-grid">
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/gratuit.svg" alt="Accès gratuit à toutes les rencontres du Club informatique de FORMATIO" class="benefit-icon" />
        <p class="benefit-description">
          Accès gratuit à toutes les rencontres du Club informatique de FORMATIO
        </p>
      </div>
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/expert.svg" alt="Grande expertise des membres en informatque domestique" class="benefit-icon" />
        <p class="benefit-description">
          Grande expertise des membres en informatque domestique
        </p>
      </div>
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/share-experience.svg" alt="Partage des expériences vécues" class="benefit-icon" />
        <p class="benefit-description">Partage des expériences vécues</p>
      </div>
    </div>
    <div class="benefits-grid">
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/Solution.svg" alt="Solutions trouvées par les membres" class="benefit-icon" />
        <p class="benefit-description">Solutions trouvées par les membres</p>
      </div>
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/conseil-achat.svg" alt="Conseil pour les achats d'équipement informatique" class="benefit-icon" />
        <p class="benefit-description">
          Conseil pour les achats d'équipement informatique
        </p>
      </div>
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/echange-connaissance.svg" alt="Échange des connaissances entre les memebres" class="benefit-icon" />
        <p class="benefit-description">Échange des connaissances entre les memebres</p>
      </div>
    </div>
    <div class="benefits-grid">
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/decouverte-logiciels-applications.svg" alt="Accès gratuit à toutes les rencontres du Club informatique de FORMATIO" class="benefit-icon" />
        <p class="benefit-description">
          Accès gratuit à toutes les rencontres du Club informatique de FORMATIO
        </p>
      </div>
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/Startup-rocket.svg" alt="Accès gratuit à toutes les rencontres du Club informatique de FORMATIO" class="benefit-icon" />
        <p class="benefit-description">
          Accès gratuit à toutes les rencontres du Club informatique de FORMATIO
        </p>
      </div>
      <div class="benefit-item" style="max-width:250px;">
        <img src="/images/nouveau-site-web.svg" alt="Accès gratuit à toutes les rencontres du Club informatique de FORMATIO" class="benefit-icon" />
        <p class="benefit-description">
          Accès gratuit à toutes les rencontres du Club informatique de FORMATIO
        </p>
      </div>
    </div>
    <div class="benefits-grid" style="justify-content:center;">
      <div class="benefit-item" style="max-width:250px;align-items:center;">
        <img src="/images/slack-1.svg" alt="" class="decorative-icon" />
        <p class="cta-description">
        Accès gratuit à toutes les rencontres du Club informatique de FORMATIO
        </p>
        <button class="cta-button">DEVENIR MEMBRE</button>
      </div>
    </div>
  </div>
