<div style="background-image:url(/images/LeClubInformatique.png);background-size: cover;padding: 30px; margin: 50px 0px;">
  <main class="club-info" >
    <h1 class="club-info__title">Un lieu d'échange, de partage et de solutions!</h1>
    <p class="club-info__description">
      Le Club informatique de FORMATIO est un rassemblement hebdomadaire de personnes de tous niveaux de connaissances qui veulent apprendre, partager leurs intérêts et leurs découvertes en ce qui touche à l'informatique et aux appareils domestiques intelligents qui meublent notre quotidien, tels les PC, les tablettes, les cellulaires, la domotique, le web et toute autre technologie émergente.<br /><br />
      Lors de ces rencontres et conférences, les participants discutent des nouveautés technologiques, partagent entre eux leurs découvertes, offrent information et assistance aux collègues, le tout dans un esprit de curiosité et d'entraide.<br /><br />
      Au Club informatique de FORMATIO, on parle PC, tablettes et mobiles (téléphones intelligents), ainsi que de tous les autres appareils qui leur sont reliés, comme les routeurs, imprimantes, etc. Naturellement, on cause aussi de systèmes d'exploitation, de logiciels et d'applications qu'utilisent ces appareils. Enfin, on s'intéresse aussi aux trouvailles dénichées sur le web.<br /><br />
      Les domaines d'intérêt reliés à l'informatique domestique et traités par le Club informatique de FORMATIO sont très variés: bureautique, réseau domestique intelligent, généalogie, photo numérique, gadgets, sites web, voyages, édition d'image, de son et de vidéo, ordinateurs dédiés, l'infonuagique et plus encore!
    </p>
  </main>
</div>
