<!-- Équipe -->
<section class="testimonials-section" style="min-height:80vh">
  <h1 class="section-title">L'équipe</h1>
  <div class="owl-one loop owl-carousel owl-theme owl-loaded" style="margin-bottom: 40px;">
    <div class="owl-stage-outer">
      <div class="owl-stage" >
        <div class="owl-item">
          <div class="card" style="border-radius:20px">
            <div class="card-body" style="background-image: url('/images/background_equipe.png');background-size:cover;padding:3rem;border-radius: 20px;min-height:500px;">
              <div class="services-container">
                <h2 class="services-title" style="margin-bottom:40px;">Services administratifs</h2>
                <div class="row" style="width:100%;height:500px !important;display:flex; justify-content: space-around;">
                  <div class="team-profile-item">
                    <img src="/images/Olga-Turcanu.png" alt="Olga Turcanu profile picture" class="team-profile-image" />
                    <p class="team-profile-name" style="text-align:center;">Olga Turcanu</p>
                  </div>
                  <div class="team-profile-item">
                    <img src="/images/Mirabdine_Sandroudine.png" alt="Mirabdine Sandroudine profile picture" class="team-profile-image" />
                    <p class="team-profile-name" style="text-align:center;">Mirabdine Sandroudine</p>
                  </div>
                </div>
                <div class="owl-dots" style="justify-self: center;align-items:flex-end;">
                  <button role="button" class="owl-dot active"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',1);"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',2);"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',3);"><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="card" style="border-radius:20px">
            <div class="card-body" style="background-image: url('/images/background_equipe.png');background-size:cover;padding:3rem;border-radius: 20px;min-height:500px;">
              <div class="services-container">
                <h2 class="services-title" style="margin-bottom:40px;">Services de formation</h2>
                <div class="row" style="width:100%;height:500px !important;display:flex; justify-content: space-around;">
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Lavertu-Paul-Henry160x160.png" alt="Paul-Henry Lavertu profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Paul-Henry Lavertu</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Yvon-Blais160x160.png" alt="Yvon Blais profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Yvon Blais</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Tawie-Belair160x160.png" alt="Tawie Belair profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Tawie Belair</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Pierre_Wolfshagen160x160.png" alt="Pierre Wofshagen profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Pierre Wolfshagen</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Olivier-Comtois160x160.png" alt="Olivier Comtois profile picture" class="team-profile-image" style="width:auto;"/>
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Olivier Comtois</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Marc-Severe160x160.png" alt="Marc Severe profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Marc Severe</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Irene-Wosso160x160.png" alt="Irene Wosso profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Irene Wosso</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Germain-Roy160x160.png" alt="Germain Roy profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Germain Roy</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Dieter-Smith160x160.png" alt="Dieter Smith picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Dieter Smith</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Denis-Vachon160x160.png" alt="Denis Vachon profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Denis Vachon</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Daniel-Houle160x160.png" alt="Daniel Houle profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Daniel Houle</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Claude-Drouin160x160.png" alt="Claude Drouin profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Claude Drouin</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Benoit-Croteau160x160.png" alt="Benoit Croteau picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Benoit Croteau</p>
                  </div>
                  <div class="team-profile-item" style="height:175px;text-align: -webkit-center;">
                    <img src="/images/Josée_Bergevin-250x312.png" alt="Josée Bergevin profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Josée Bergevin</p>
                  </div>
                </div>
                <div class="owl-dots" style="justify-self: center;align-items:flex-end;">
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',0);"><span></span></button>
                  <button role="button" class="owl-dot active"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',2);"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',3);"><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="card" style="border-radius:20px">
            <div class="card-body" style="background-image: url('/images/background_equipe.png');background-size:cover;padding:3rem;border-radius: 20px;min-height:500px;">
              <div class="services-container">
                <h2 class="services-title" style="margin-bottom:40px;">Club informatique</h2>
                <div class="row" style="width:100%;height:250px !important;display:flex; justify-content: space-evenly;">
                  <div class="team-profile-item" style="height:250px;text-align: -webkit-center;">
                    <img src="/images/James-Desmarchais320x320.png" alt="James Desmarchais profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">James Desmarchais</p>
                  </div>
                  <div class="team-profile-item" style="height:250px;text-align: -webkit-center;">
                    <img src="/images/Denis-Bergeron320x320.png" alt="Denis Bergeron profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Denis Bergeron</p>
                  </div>
                  <div class="team-profile-item" style="height:250px;text-align: -webkit-center;">
                    <img src="/images/Jean-Pierre-Bonneau320x320.png" alt="Jean-Pierre profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Jean-Pierre Bonneau</p>
                  </div>
                </div>
                <div class="row" style="width:100%;height:250px !important;display:flex; justify-content: space-evenly;">
                  <div class="team-profile-item" style="height:250px;text-align: -webkit-center;">
                    <img src="/images/Andre_Forgues320x320.png" alt="André Forgues profile picture" class="team-profile-image" style="width:auto;" />
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">André Forgues</p>
                  </div>
                  <div class="team-profile-item" style="height:250px;text-align: -webkit-center;">
                    <img src="/images/Nicole Barard320x320.png" alt="Nicole Barard profile picture" class="team-profile-image" style="width:auto;"/>
                    <p class="team-profile-name" style="text-align:center;font-size:100%;">Nicole Barard</p>
                  </div>
                </div>
                <div class="owl-dots" style="justify-self: center;align-items:flex-end;">
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',0);"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',1);"><span></span></button>
                  <button role="button" class="owl-dot active"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',3);"><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="card" style="border-radius:20px">
            <div class="card-body" style="background-image: url('/images/background_equipe.png');background-size:cover;padding:3rem;border-radius: 20px;min-height:500px;">
              <div class="services-container">
                <h2 class="services-title" style="margin-bottom:40px;">Services TI</h2>
                <div class="row" style="width:100%;height:500px !important;display:flex; justify-content: space-around;">
                  <div class="team-profile-item">
                    <img src="/images/Denis-Jobin320x320.png" alt="Denis Jobin profile picture" class="team-profile-image" />
                    <p class="team-profile-name" style="text-align:center;">Denis Jobin</p>
                  </div>
                </div>
                <div class="owl-dots" style="justify-self: center;align-items:flex-end;">
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',0);"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',1);"><span></span></button>
                  <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',2);"><span></span></button>
                  <button role="button" class="owl-dot active"><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
