<footer class="footer d-flex justify-content-center">
  <div class="footer-content col-10" style="width:85%">
    <div class="footer-columns">
      <div class="footer-column">
        <div class="footer-logo">
          <img src="images/Logo-300x84.png" alt="Formatio logo" class="logo-image" />
          <div class="footer-contact">
            <p class="footer-description">
              FORMATIO est une entreprise d'économie sociale vouée à la formation dans le domaine numérique. Elle contribue à l'insertion sociale, à l'employabilité, à briser l'isolement et à la découverte de nouveaux horizons.
            </p>
            <div class="footer-phone">
              <a href="tel://+14506563348" style="text-decoration:none;"><img src="images/bootstrap-icons/phone.svg" alt="Phone icon" class="phone-icon"/>
              <span class="phone-number">+1 450 656-3348</span></a>
            </div>
            <br />
            <div style="display:flex;justify-content:space-evenly;align-items:center;">
              <a href="https://www.facebook.com/formatio.info/"><img src="images/bootstrap-icons/facebook.svg" alt="facebook link" onclick=""></img></a>
              <a href="https://maps.app.goo.gl/CaVyotaW53vbzRU66"><img src="images/bootstrap-icons/google.svg" alt="google link"></img></a>
              <a href="https://www.linkedin.com/company/formatio-info/"><img src="images/bootstrap-icons/linkedin.svg" alt="linkedin link"></img></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-column">
        <nav class="footer-links">
          <h3 class="footer-links-title">LIENS RAPIDES</h3>
          <ul class="footer-links-list">
            <li class="footer-link-item"><a href="/" style="color:white;text-decoration:none;">Accueil</a></li>
            <li class="footer-link-item"><a href="/index.php/qui-sommes-nous" style="color:white;text-decoration:none;">Qui sommes nous ?</a></li>
            <li class="footer-link-item"><a href="/index.php/formations" style="color:white;text-decoration:none;">Nos formations</a></li>
            <li class="footer-link-item"><a href="/index.php/club-informatique" style="color:white;text-decoration:none;">Club informatique</a></li>
            <li class="footer-link-item"><a href="/index.php/benevole" style="color:white;text-decoration:none;">Devenir bénévole</a></li>
            <li class="footer-link-item"><a href="/index.php/don" style="color:white;text-decoration:none;">Faire un Don</a></li>
            <li class="footer-link-item"><a href="/index.php/nous-joindre" style="color:white;text-decoration:none;">Nous Joindre</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-column">
        <div class="footer-newsletter">
          <h3 class="newsletter-title">Abonnez-vous à nos infolettres</h3>
          <form class="newsletter-form">
            <label for="fullName" class="visually-hidden">Nom complet</label>
            <input type="text" id="fullName" class="newsletter-input" placeholder="Nom complet" aria-label="Nom complet" />
            
            <label for="email" class="visually-hidden">Couriel</label>
            <input type="email" id="subscriptionEmail" class="newsletter-input" placeholder="Couriel" aria-label="Couriel" />
            
            <div class="newsletter-checkbox-group">
              <input type="checkbox" id="formation" class="newsletter-checkbox" />
              <label for="formation" class="newsletter-checkbox-label">Formation</label>
            </div>
            <div class="newsletter-checkbox-group">
              <input type="checkbox" id="clubInfo" class="newsletter-checkbox" />
              <label for="clubInfo" class="newsletter-checkbox-label">Le club informtique</label>
            </div>
            <div style="margin-top:50px;align-self:center;">
              <button class="subscribe-button">S'abonner</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-subscribe">
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="footer-legal">
    <span class="footer-copyright">© 2024 FORMATIO. Tous droits réservés.</span>
    <span><a href="/index.php/politique-confidentialites" class="footer-privacy" style="align-self:center;">POLITIQUES DE CONFIDENTIALITÉS</a></span>
    <span style="color:#29acb9;">© 2024 FORMATIO. Tous droits réservés.</span>
  </div>
</div>
