<div{{ attributes }}>
  <div class="formations-container">
    <h2 class="formations-title">Nos formations</h2>
    <div class="formations-grid">
      <div class="formation-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/cf2bd90034887078d39632baa22cc527c058f8144453a7c0bd2e15c2c25262f9?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Formation sur iPad, iPhone et Mac" class="formation-image" />
        <p class="formation-description">Nos formation sur iPad, iPhone et Mac sont</p>
        <button class="formation-button translate-bottom">EN SAVOIR PLUS</button>
      </div>
      <div class="formation-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/133b4f9247b8791abc18755082c3b0e5381041d033895cb767e6b47e036cc967?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Formation sur Android" class="formation-image" />
        <p class="formation-description">Nos formation sur Android</p>
        <button class="formation-button translate-bottom">EN SAVOIR PLUS</button>
      </div>
      <div class="formation-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/08e5b29e0f2d285ccb18c7bd0e9c664e6f86ad57dc3c9a4023dbb45f2f6aebae?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Formation sur Windows" class="formation-image" />
        <p class="formation-description">Nos formation sur Windows</p>
        <button class="formation-button translate-bottom">EN SAVOIR PLUS</button>
      </div>
      <div class="formation-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/563dcdbf6b4be3688ac31dd36ddd7bce3e29fd37358566cb1eb1bf73e40d12d3?apiKey=58dddada9b894c35907f3be2882f5e91&" alt="Formation sur la suite Microsoft Office" class="formation-image" />
        <p class="formation-description">Nos formation sur la suite Microsoft Office</p>
        <button class="formation-button translate-bottom">EN SAVOIR PLUS</button>
      </div>
    </div>
    <button class="primary-button">VOIR CATALOGUE</button>
  </div>
</div>