<div style="margin: 50px 0px;position:relative;">
    <div id="map" ></div>
    <div class="contact-info">
        <div class="map-title">Nos bureaux et salles de formation</div>
        <div class="map-description">
            Vous pouvez aussi passer nous rencontrer en personne. Nous sommes
            situés dans le Centre communautaire Georges-Henri-Brossard.
        </div>
        <div class="map-address" style="display:flex;flex-direction:row;flex-wrap: nowrap;gap:5px;" >
            <img loading="lazy" src="/images/bootstrap-icons/geo-alt.svg" class="map-marker" />
            <div class="map-coordinates">3205 boul. de Rome, Brossard, QC, J4Y 1R2</div>
        </div>
        <div class="map-telephone"  >
            <a href="tel://+1450-656-3348"style="display:flex;flex-direction:row;flex-wrap: nowrap;gap:5px;">
                <img loading="lazy" src="/images/bootstrap-icons/contact-phone.svg" class="map-phone" />
                <div class="map-coordinates">450 656-3348</div>
            </a>
        </div>
        <div class="map-email" style="display:flex;flex-direction:row;flex-wrap: nowrap;gap:5px;" >
            <a href="mailto://info@formatio.info"style="display:flex;flex-direction:row;flex-wrap: nowrap;gap:5px;">
                <img loading="lazy" src="/images/bootstrap-icons/envelope.svg" class="map-envelope" />
                <div class="map-coordinates">info@formatio.info</div>
            </a>
        </div>
        <div class="map-subtitle">HEURE DU BUREAU</div>
        <div class="map-schedule">
            Mardi au jeudi : 9h à 16h<br />Vendredi de 9h à 12h<br />Samedi et
            dimanche : Fermé
        </div>
        <div class="map-subtitle">HEURE DES FORMATIONS</div>
        <div class="map-schedule">
            Lundi au vendredi : 9h à 21h<br />Samedi et dimanche : Fermé
        </div>
    </div>
</div>
