<div style="display:flex;flex-direction:column;margin: 50px 0px;">
    <div class="formations-title" style="padding:50px;">S’inscrire au club</div>
    <div class="row" style="display:flex;flex-direction:row;flex-wrap:nowrap;">
        <div class="column" style="rounded-border:20px;">
            <img loading="lazy" src="/images/shutterstock_1721619814.png" style="border-radius:20px;"/>
        </div>
        <div class="column-2">
            <div class="div-6">Qui peut devenir membre ?</div>
            <div class="div-7">
                <ul class="subscription-ul">
                    <li>Tous les gens sont bienvenus. La clientèle cible est composée d’adultes de la région de Montréal et de la Rive-Sud, dont l’expérience informatique varie de novice à expert.</li>
                    <li>Aucun prérequis n’est obligatoire, mais un minimum d’expérience sur PC, tablette, mobile et internet est suggéré.</li>
                    <li>Votre première présence est gratuite. Ensuite, vous achetez une carte de membre au coût de 25$ par session<br />(2 sessions par années).</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div-12">DEVENEZ MEMBRE SANS PLUS TARDER !</div>
    <button class="cta-button" style="max-width: 265px;align-self: center;">DEVENIR MEMBRE</button>
</div>
