<!-- Équipe -->
<section>
  <h1 class="section-title">Nos partenaires et commanditaires</h1>
  <div class="owl-two owl-carousel owl-theme owl-loaded autoplay" style="margin-bottom: 40px;" style="transition-timing-function: linear;">
    <div class="owl-stage-outer">
      <div class="owl-stage">
        <div class="owl-item align-items-center" style="display:flex;justify-content:center;min-height:425px;">
            <img src="/images/Logo gouvernement du Québec.png" alt="Logo gouvernement du Québec" style="width:300px;height:fit-content;" />
        </div>
        <div class="owl-item align-items-center" style="display:flex;justify-content:center;min-height:425px;">
            <img src="/images/Logo Brossard gris.png" alt="Logo Brossard" style="width:300px;height:fit-content;" />
        </div>
        <div class="owl-item align-items-center" style="display:flex;justify-content:center;min-height:425px;">
            <img src="/images/Bibliothèque.png" alt="Logo Bibliothèque" style="width:300px;height:fit-content;" />
        </div>
        <div class="owl-item align-items-center" style="display:flex;justify-content:center;min-height:425px;">
            <img src="/images/Logo_FADOQ_Surrois.png" alt="Logo FADOQ" style="width:300px;height:fit-content;" />
        </div>
        <div class="owl-item align-items-center" style="display:flex;justify-content:center;min-height:425px;">
            <img src="/images/Logo gouvernement du Canada.png" alt="Logo gouvernement du Canada" style="width:300px;height:fit-content;" />
        </div>
        <div class="owl-item align-items-center" style="display:flex;justify-content:center;min-height:425px;">
            <img src="/images/Logo Croix Rouge Canadienne.png" alt="Logo Croix Rouge Canadienne" style="width:300px;height:fit-content;" />
        </div>
    </div>
</section>
