<div style="margin: 50px 0px">
    <img src="/images/FORMATIO-V2-Historique-des-presentationsCouv-FB.png" style="width:100%;" /> 
    <div class="recherche-reunions">
        <input class="recherche-hint" type="text" id="terme-recherche" name="recherche" placeholder="Entrez un no de réunion, un mot clé, une date, un sujet" style="border:0px"></input>
        <button class="recherche-btn" style="border: none;margin:10px;">Rechercher</button>
    </div>
    <div class="recherche-hr" style="margin: 0px 0px 30px 0px"></div>
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content: space-between;">
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">La sauvegarde : c’est quoi ?</div>
                <div class="presentation-card-src">James Desmarchais | 15 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Explication des différents types de sauvegarde.</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Microsoft OneDrive</div>
                <div class="presentation-card-src">Claude Drouin | 15 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Gérer, modifier, consulter et partager avec d'autres personnes vos fichiers et photos à l'aide de votre [...]</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Trucs et astuces - la décoration avec l'IA</div>
                <div class="presentation-card-src">Rober Arseneault | 08 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">La décoration intérieure en utilisant les capacités de l'intelligence artificielle.</div>
            </div>
        </div>
    </div>
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content: space-between;margin: 30px 0px;">
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Nouvelle protection en cas de vol de son iPhone</div>
                <div class="presentation-card-src">Denis Bergeron | 06 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Nouvelle fonctionalité de l'IOS 17.3 permettant de protéger des données sensible en cas de vol [...]</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">La téléphonie VoIP</div>
                <div class="presentation-card-src">George Alwin | 08 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">En quoi consiste la téléphonie VoIP, OOma une alternative à la téléphonie filaire.</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Trucs et astuces - iPhone</div>
                <div class="presentation-card-src">Denis Bergeron | 01 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Nouvelle protection en cas de vol de son iPhone.</div>
            </div>
        </div>
    </div>
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content: space-between;margin: 30px 0px;">
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Trucs et astuces - routeur</div>
                <div class="presentation-card-src">Robert Arseneualt | 01 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Vérification rapide de la vitesse et de la sécurité de son routeur.</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Comment retracer ses ancêtres</div>
                <div class="presentation-card-src">Pierre Robillard | 01 février 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Comment utiliser internet pour découvrir ses ascendants.</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Les AirtTags de Apple</div>
                <div class="presentation-card-src">Yvon Blais | 25 janvier 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Comment la balise AirtTag d'Apple peut vous aider à retracer un objet perdu ou volé.</div>
            </div>
        </div>
    </div>
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content: space-between;margin: 30px 0px;">
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Nouveautés technologiques - CES 2024</div>
                <div class="presentation-card-src">Jean-Pierre Bonneau | 25 janvier 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Revue de quelques nouveautés marquantes du Consumer Electronics Show tenu en début [...]</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Fraude et cartes de crédit</div>
                <div class="presentation-card-src">Nicole Benard | 25 janvier 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Les fraudes sur les cartes de crédit : précautions à prendre.</div>
            </div>
        </div>
        <div class="card" style="max-width:31%;min-width:31%;">
            <div class="card-body">
                <div class="presentation-card-title">Rendre un iPhone silencieux/Traiter des fichiers PDF et des images</div>
                <div class="presentation-card-src">Pierre Robillard | 18 janvier 2024</div>
                <hr class="hr" />
                <div class="presentation-card-desc">Astuce pour rendre son iPhone silencieux. Utilisation des applications Ilovepdf.com et IloveIMG.com [...]</div>
            </div>
        </div>
    </div>
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content: center;margin: 30px 0px;">
        <button class="cta-button">AFFICHER PLUS<br />DE PRÉSENTATION<br /></div>
    </div>
</div>