<!-- Testimonials-->
<section class="testimonials-section">
    <h1 class="section-title">Témoignages</h1>
    <div class="loop owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div class="owl-stage" >
          <div class="owl-item">
            <div class="row" style="justify-content: center;align-items:flex-end;padding: 30px 0px 0px 0px;">
              <img class="mx-2 z-3" src="images/quote-user-3-210x210.jpg" alt="user image" style="height: 13vh; width: auto;offset-position:bottom -20px;" onclick="var owl = $('.owl-carousel');owl.trigger('prev.owl.carousel');"/>
              <img class="mx-2 z-3" src="images/quote-user-1-210x210.jpg" alt="user image" style="height: 20vh; width: auto;"/>
              <img class="mx-2 z-3" src="images/quote-user-2-210x210.jpg" alt="user image" style="height: 13vh; width: auto;" onclick="var owl = $('.owl-carousel');owl.trigger('next.owl.carousel');"/>
            </div>
            <div class="card z-0" style="border-radius:20px;position:relative;top:-30px;">
              <div class="card-body" style="background-image: url('images/testimonial-background.png');background-size:cover;padding:3rem;border-radius: 20px;">
                <div class="testimonial-wrapper">
                  <div class="testimonial-quote" style="justify-content: center;align-items:flex-end;">
                    <img src="images/quote.svg" alt="" class="quote-icon" />
                    <p class="testimonial-text">
                      J'aime la vie et FORMATIO me permet de demeurer alerte et de continuer à apprendre notamment par une meilleure maîtrise des technologies<br /><br />Pierre Wolfshagen - Formateur<br />
                    </p>
                  </div>
                  <div class="owl-dots" style="justify-self: center;align-items:flex-end;">
                    <button role="button" class="owl-dot active"><span></span></button>
                    <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',1);"><span></span></button>
                    <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',2);"><span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="row" style="justify-content: center;align-items:flex-end;padding: 30px 0px 0px 0px;">
              <img class="mx-2 z-3" src="images/quote-user-1-210x210.jpg" alt="user image" style="height: 13vh; width: auto;" onclick="var owl = $('.owl-carousel');owl.trigger('prev.owl.carousel');"/>
              <img class="mx-2 z-3" src="images/quote-user-2-210x210.jpg" alt="user image" style="height: 20vh; width: auto;"/>
              <img class="mx-2 z-3" src="images/quote-user-3-210x210.jpg" alt="user image" style="height: 13vh; width: auto;" onclick="var owl = $('.owl-carousel');owl.trigger('next.owl.carousel');"/>
            </div>
            <div class="card z-0" style="border-radius:20px;top:-30px;">
              <div class="card-body" style="background-image: url('images/testimonial-background.png');background-size:cover;padding:3rem;border-radius: 20px;">
                <div class="testimonial-wrapper">
                  <div class="testimonial-quote" style="justify-content: center;align-items:flex-end;">
                    <img src="images/quote.svg" alt="" class="quote-icon" />
                    <p class="testimonial-text">
                      J'aime la vie et FORMATIO me permet de demeurer alerte et de continuer à apprendre notamment par une meilleure maîtrise des technologies<br /><br />Pierre Wolfshagen - Formateur<br />
                    </p>
                  </div>
                  <div class="owl-dots" style="justify-self: center;align-items:flex-end;">
                    <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',0);"><span></span></button>
                    <button role="button" class="owl-dot active"><span></span></button>
                    <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',2);"><span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="row" style="justify-content: center;align-items:flex-end;padding: 30px 0px 0px 0px;">
              <img class="mx-2 z-3" src="images/quote-user-2-210x210.jpg" alt="user image" style="height: 13vh; width: auto;" onclick="var owl = $('.owl-carousel');owl.trigger('prev.owl.carousel');"/>
              <img class="mx-2 z-3" src="images/quote-user-3-210x210.jpg" alt="user image" style="height: 20vh; width: auto;"/>
              <img class="mx-2 z-3" src="images/quote-user-1-210x210.jpg" alt="user image" style="height: 13vh; width: auto;" onclick="var owl = $('.owl-carousel');owl.trigger('next.owl.carousel');"/>
            </div>
            <div class="card z-0" style="border-radius:20px;top:-30px;">
              <div class="card-body" style="background-image: url('images/testimonial-background.png');background-size:cover;padding:3rem;border-radius: 20px;">
                <div class="testimonial-wrapper">
                  <div class="testimonial-quote" style="justify-content: center;align-items:flex-end;">
                    <img src="images/quote.svg" alt="" class="quote-icon" />
                    <p class="testimonial-text">
                      J'aime la vie et FORMATIO me permet de demeurer alerte et de continuer à apprendre notamment par une meilleure maîtrise des technologies<br /><br />Pierre Wolfshagen - Formateur<br />
                    </p>
                  </div>
                  <div class="owl-dots" style="justify-self: center;align-items:flex-end;">
                    <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',0);"><span></span></button>
                    <button role="button" class="owl-dot" onclick="var owl = $('.owl-carousel');owl.trigger('to.owl.carousel',1);"><span></span></button>
                    <button role="button" class="owl-dot active"><span></span></button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>
